{% extends "user/account/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block main %}
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">ویرایش اطلاعات اکانت</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{form.rank|as_crispy_field}}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.start_season|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-0 text-center">
                {{form.role|as_crispy_field}}
            </div>
            <div class="form-group col-md-6 mb-0">
                <label>سرور*</label>
                {{form.server|add_class:"form-control select2 select2-hidden-accessible"|attr:"style:width: 100%;"|attr:"tabindex:-1"|attr:"aria-hidden:true"}}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{form.level|as_crispy_field}}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.id_game|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                {{form.username_game|as_crispy_field}}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.kd|as_crispy_field }}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-info pull-right">ویرایش</button>
          </div>
          <!-- /.box-footer -->
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    $(function () {
    //Initialize Select2 Elements
        $('.select2').select2()
    })
</script>
{% endblock %}