{% extends 'article/base.html' %}
{% load crispy_forms_tags %}




{% block content %}
<section class="cards d-flex flex-column align-items-center mt-2">
    <section class="custom-card rounded">
        <div>
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between row">
                <div class="card-header-right d-flex align-items-center">
                    <h5 class="m-0">عوض کردن پسورد</h5>
                </div>
                <div class="card-header-left flex-column flex-lg-row">
                </div>
            </div>
            <hr>
            <div class="card-custom-body">
                {% if validlink %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row flex-column flex-lg-row justify-content-around align-items-center">
                            {{form.new_password1|as_crispy_field}}
                        </div>
                        <div class="row flex-column flex-lg-row justify-content-around align-items-center">
                            {{form.new_password2|as_crispy_field}}
                        </div>
                        <hr>
                        <button class="btn btn-success" type="submit">عوض کردن پسورد</button>
                    </form>
                {% else %}
                    <div class="row flex-column flex-lg-row justify-content-around align-items-center">
                        <p class="h5 text-danger">لینک شما منقضی شده است</p>
                    </div>
                {% endif %}
            </div>

        </div>
    </section>
</section>
{% endblock content %}


